div.comment {
  margin-bottom: 0.5rem;

  .comment-infos span {
    margin-right: 0.25rem;
  }

  .comment-header {
    font-size: smaller;
    color: grey;
    margin: unset;

    .comment-username {
      font-weight: 600;
    }

    .comment-date {
    }
  }

  .comment-content {
    white-space:pre-wrap; 
  }
}

.vote-comment-upvoted {

}

.vote-comment-notvoted, .vote-comment-downvoted {
  color: transparent;
  text-shadow: 0 0 0 #ced4da;
}

.vote-comment-downvoted {
}
