<div class="comment">
  <div class="d-flex align-items-center comment-header">
    <div class="comment-infos">
      <span class="comment-username">{{model.username}} </span>
      <span class="comment-date">{{model.createdAtUtc|dateAgo}}</span>
      <span *ngIf="model.upvotes && model.upvotes != 0" class="comment-date badge badge-success">{{model.upvotes}} points</span>
    </div>
    <div class="ml-auto">
      <button class="btn btn-sm" title="Quote this comment" (click)="quote()">💬</button>
      <button class="btn btn-sm" title="This is a great comment" (click)="upvote()" [ngClass]="{'vote-comment-notvoted':votePosition == 0,'vote-comment-upvoted':votePosition > 0,'vote-comment-downvoted':votePosition < 0 }" >👍</button>
      <div class="btn-group" [ngClass]="{'show': showMenu}">
        <button class="btn btn-sm" (click)="showMenu = !showMenu">⠇</button>
        <ul class="dropdown-menu" [ngClass]="{'show': showMenu}">
          <li>
            <button class="btn btn-sm btn-link" (click)="showMenu = !showMenu; downvote()">Mark as Irrelevant</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="comment-content" [innerHTML]="model.text"></div>
</div>
