<div class="d-flex mb-1 bordered-box">
  <div class="bg-light">
    <div class="d-flex flex-column align-items-center">
      <button [ngClass]="{'arrow-vote-active':votePosition > 0}" class="btn btn-sm btn-link arrow-vote" (click)="upvote()">▲</button>
      <small>{{upvotesCountOnScreen}}</small>
      <button [ngClass]="{'arrow-vote-active':votePosition < 0}" class="btn btn-sm btn-link arrow-vote" (click)="downvote()">▼</button>
    </div>
  </div>
  <div class="p-2">
    <h5 class="submission-title"><a [routerLink]="['/submission', model.submissionId]">{{model.title}}</a></h5>
    <small class="text-muted">Posted by {{model.username}} on {{model.createdAtUtc|dateAgo}}</small>
    <div *ngIf="showBody">{{model.text}}</div>
    <div>
      <a class="btn btn-sm btn-default" [routerLink]="['/submission', model.submissionId]">🗨️ {{model.commentsCount}} comments</a>
    </div>
  </div>
</div>
