<div class="d-flex align-items-center">
  <div>
    <a [routerLink]="['/submissions', model.id]"><h4>{{model.name}}</h4></a>
    <p>{{model.description}}</p>
  </div>
</div>
<div *ngIf="hasSubmissions">
  <div *ngFor="let submission of submissions.results">
    <app-submission-list-item [model]="submission" [showBody]="false"></app-submission-list-item>
  </div>
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <a [routerLink]="['/submissions', model.id]">See all posts in {{model.name}}</a>
    </div>
    <div><a class="btn btn-primary btn-sm" routerLink="/new-submission" [queryParams]="{forumSectionId:model.id}">+New Thread</a></div>
  </div>
</div>

<div *ngIf="!hasSubmissions">
  <p class="text-muted">
    There are no submissions yet for this section.
  </p>
  <div><a class="btn btn-primary btn-sm" routerLink="/new-submission" [queryParams]="{forumSectionId:model.id}">Be the first to share</a></div>
</div>

