<ng-container *ngIf="submission">
  <h2>
    {{submission.title}}
  </h2>
  <div class="d-flex align-items-center bg-dark">
    <div class="mr-2">
      <button [ngClass]="{'arrow-vote-active':votePosition > 0}" class="btn btn-sm btn-link arrow-vote" (click)="upvote()">▲</button>
      <span class="text-light">{{upvotesCountOnScreen}}</span>
      <button [ngClass]="{'arrow-vote-active':votePosition < 0}" class="btn btn-sm btn-link arrow-vote" (click)="downvote()">▼</button>
    </div>
    <small class="text-light">Posted by {{submission.username}} {{submission.createdAtUtc|dateAgo}}</small>
  </div>
  <div class="submission-text-container">
    <p>{{submission.text}}</p>
  </div>

  <h6>Comments</h6>
  <div *ngIf="!comments || comments.length === 0" class="text-muted">
    No comments yet.
  </div>

  <div *ngFor="let comment of comments">
    <app-comment-list-item [model]="comment" (quoted)="onCommentQuoted(comment)"></app-comment-list-item>
  </div>

  <div class="mt-4">
    <div class="form-group"><textarea class="form-control" [(ngModel)]="commentInput" rows="6" placeholder="Comment"></textarea></div>
    <button class="btn btn-primary" (click)="postComment()" [attr.disabled]="disableSubmitButton == true ? true : null">Submit</button>
  </div>
</ng-container>
