<ng-container *ngIf="submission">
  <h2>
    {{submission.title}}
  </h2>
  <small class="text-muted">Posted by {{submission.username}} on {{submission.createdAtUtc|dateAgo}}</small>
  <p>{{submission.text}}</p>

  <div class="input-group mb-3">
    <input type="number" readonly class="form-control" placeholder="" [value]="upvotesCountOnScreen" />
    <div class="input-group-append">
      <button [ngClass]="{'btn-primary':votePosition == 1}" class="btn btn-sm btn-default btn-outline" (click)="upvote()" type="button">
        Upvote
      </button>
      <button [ngClass]="{'btn-primary':votePosition == -1}" class="btn btn-sm btn-outline" (click)="downvote()" type="button">
        Downvote
      </button>
    </div>
  </div>

  <hr />
  <h6>Comments</h6>
  <div *ngFor="let comment of comments">
    <app-comment-view [model]="comment"></app-comment-view>
  </div>

  <div class="mt-4">
    <div class="form-group"><textarea class="form-control" [(ngModel)]="commentInput" rows="6" placeholder="Comment"></textarea></div>
    <button class="btn btn-primary" (click)="postComment()">Submit</button>
  </div>
</ng-container>
