<div *ngIf="!submissions || submissions.length == 0">
  <p>There are no submissions at the moment.</p>
</div>

<div  class="my-1">
  <div class="d-flex justify-content-end">
    <a class="btn btn-sm btn-primary" routerLink="/new-submission">+New Thread</a>
  </div>
</div>
<div *ngFor="let submission of submissions.results">
  <app-submission-list-item [model]="submission"></app-submission-list-item>
</div>
<div class="my-1">
  <div class="d-flex">
    <button class="btn btn-sm btn-default" [hidden]="!canNavigatePrevious" (click)="navigatePrevious()">🡸</button>
    <button class="btn btn-sm btn-default ml-auto" [hidden]="!canNavigateNext" (click)="navigateNext()">🡺</button>
  </div>
</div>
